:root {
    --primary-color: #ff0000; /* Vermelho brilhante */
    --primary-dark: #e60000;
    --background-dark: #121212;
    --background-light: #1a1a1a;
    --text-light: #ffffff;
    --box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Sombra mais profunda das caixas */
    --border-radius: 12px; /* Arredondamento das bordas */
    --transition: all 0.3s ease; /* Transição suave para todos os elementos */
}

body {
    background-color: var(--background-dark); /* Fundo escuro */
    color: var(--text-light); /* Texto branco */
    font-family: 'Poppins', sans-serif; /* Fonte moderna e esportiva */
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Garante que o corpo ocupe a altura total da tela */
}

header {
    width: 100%;
    z-index: 1000;
    background-color: var(--background-light);
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    margin: 0; /* Remove qualquer margem */
}

main {
    flex: 1; /* Expande para ocupar o espaço disponível */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding-top: 80px; /* Espaço para o header */
    padding-bottom: 60px; /* Espaço para o footer */
}

.post-container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    background-color: var(--background-light);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

.post-header {
    text-align: center;
    margin-bottom: 20px;
}

.post-title {
    color: var(--primary-color);
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 10px;
}

.post-meta {
    color: var(--text-light);
    font-size: 14px;
}

.post-meta a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.post-meta a:hover {
    color: var(--primary-dark);
}

.post-image img {
    width: 100%;
    border-radius: var(--border-radius);
    margin-bottom: 20px;
    box-shadow: var(--box-shadow);
}

.post-content {
    font-size: 18px;
    line-height: 1.6;
    color: var(--text-light);
    margin-bottom: 40px;
}

.comments-section {
    margin-top: 40px;
}

.comments-section h2 {
    color: var(--primary-color);
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 20px;
}

.comment-item {
    background-color: var(--background-dark);
    padding: 15px;
    margin-bottom: 20px;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

.comment-meta {
    color: var(--text-light);
    font-size: 14px;
    margin-bottom: 5px;
}

.comment-meta a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.comment-meta a:hover {
    color: var(--primary-dark);
}

.comment-content {
    color: var(--text-light);
    font-size: 16px;
    line-height: 1.4;
}

footer {
    background-color: #292929;
    padding: 20px 0;
    text-align: center;
    color: #f0f0f0;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000; /* Permitir que o sidebar fique acima */
    margin-top: auto; /* Garante que o footer fique no final da página */
}

footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .container p {
    margin: 0;
    font-size: 0.9em;
}

footer .social-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 10px;
}

footer .social-links li {
    display: inline;
}

footer .social-links li a {
    color: #f0f0f0;
    transition: color 0.3s ease;
}

footer .social-links li a:hover {
    color: #d32f2f;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 250px;
    background-color: var(--background-light);
    z-index: 2000; /* Aumentar a z-index para garantir que esteja acima do header e footer */
    transition: transform 0.3s ease;
    transform: translateX(-100%);
    overflow-y: auto;
}

.sidebar.open {
    transform: translateX(0);
}

.sidebar nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar nav ul li {
    padding: 10px 20px;
}

.sidebar nav ul li a {
    color: var(--text-light);
    text-decoration: none;
    display: block;
}

.sidebar nav ul li a:hover {
    background-color: var(--redvelvet-dark);
    color: var(--text-light);
}

.fas:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
