body {
    background-color: #1a1a1a;
    color: #f0f0f0;
    font-family: 'Arial', sans-serif;
}

.profile-container {
    max-width: 800px;
    margin: 40px auto 80px; /* Adiciona espaço extra abaixo */
    padding: 30px;
    background-color: #2c2c2c;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7); /* Sombras mais sutis */
    color: #fff;
}

.profile-container h1 {
    font-size: 34px;
    margin-bottom: 30px;
    color: #eb3131;
    text-align: center;
    border-bottom: 2px solid #eb3131;
    padding-bottom: 15px;
    font-family: 'Helvetica', sans-serif;
}

.profile-container .form-group {
    margin-bottom: 20px;
}

.profile-container label {
    display: block;
    font-size: 18px;
    margin-bottom: 8px;
    color: #eb3131;
}

.profile-container .form-input,
.profile-container .form-select {
    width: 100%;
    padding: 12px;
    background-color: #3b3b3b;
    border: 1px solid #b61f1f;
    border-radius: 8px;
    color: #fff;
    font-size: 16px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    position: relative; /* Para posicionamento do ícone */
}

.profile-container .form-input:focus,
.profile-container .form-select:focus {
    outline: none;
    border-color: #f0442e;
    box-shadow: 0 0 8px #fb0d09;
}

.profile-container .submit-button,
.profile-container .cancel-button {
    display: inline-block;
    padding: 12px 25px;
    background-color: #eb3131;
    border: none;
    border-radius: 8px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    margin-right: 10px;
    text-decoration: none; /* Remove o sublinhado */
}

.profile-container .submit-button:hover,
.profile-container .cancel-button:hover {
    background-color: #ff4d4d;
    transform: scale(1.05);
    box-shadow: 0 0 10px #ff4d4d;
}

.profile-container .cancel-button {
    background-color: #555;
}

.profile-container .cancel-button:hover {
    background-color: #777;
}

.profile-container .profile-pic {
    display: block;
    margin: 0 auto 20px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid #ff8800;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.profile-container .profile-pic:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px #eb3131;
}

.profile-container .form-group.profile-pic-group {
    text-align: center;
}

.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ff1e00;
    margin-bottom: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.profile-image:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px #eb3131;
}

/* Estilo do ícone de exibição de senha */
.password-toggle {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #fff;
    font-size: 18px;
    transition: color 0.3s ease;
}

.password-toggle:hover {
    color: #ff4d4d;
}
