:root {
    --primary-color: #ff0000; /* Vermelho brilhante */
    --primary-dark: #e60000;
    --background-dark: #121212;
    --background-light: #1a1a1a;
    --text-light: #f7efef; /* Texto branco */
    --secondary-text: #f21616;
    --box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Sombra mais profunda das caixas */
    --border-radius: 12px; /* Arredondamento das bordas */
    --transition: all 0.3s ease; /* Transição suave para todos os elementos */
}

body {
    background-color: var(--background-dark); /* Fundo escuro */
    color: var(--text-light); /* Texto branco */
    font-family: 'Poppins', sans-serif; /* Fonte moderna e esportiva */
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Garante que o corpo ocupe a altura total da tela */
}

main {
    flex: 1; /* Expande para ocupar o espaço disponível */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding-top: 80px; /* Espaço para o header */
    padding-bottom: 60px; /* Espaço para o footer */
}

.comment-create-container {
    width: 90%;
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: var(--background-light);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    color: var(--text-light); /* Texto branco */
}

.comment-create-container h1 {
    color: var(--primary-color);
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
}

.comment-create-container .form-group {
    margin-bottom: 15px;
}

.comment-create-container label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
    color: var(--primary-color);
}

.comment-create-container .form-input {
    width: 100%;
    padding: 10px;
    background-color: var(--background-dark);
    border: 1px solid var(--primary-color);
    border-radius: var(--border-radius);
    color: var(--text-light);
    font-size: 16px;
}

.comment-create-container .form-input:focus {
    outline: none;
    border-color: var(--primary-dark);
}

.comment-create-container .submit-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--primary-color);
    border: none;
    border-radius: var(--border-radius);
    color: var(--text-light);
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    text-align: center;
}

.comment-create-container .submit-button:hover {
    background-color: var(--primary-dark);
}

.comment-create-container .error-message {
    color: var(--primary-color);
    font-size: 14px;
    margin-top: 5px;
}
