.env
.env.*
.env.local
/node_modules/
/vendor/
*.log
*.bak
.DS_Store
Thumbs.db
/.idea
/.vscode
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/public/build
/public/hot
